absl-py==2.1.0
astunparse==1.6.3
blinker==1.8.2
CacheControl==0.14.0
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
cloudevents==1.9.0
colorama==0.4.6
cryptography==43.0.3
deprecation==2.1.0
easyocr==1.7.2
firebase==4.0.1
firebase-admin==6.5.0
firebase_functions~=0.1.0
Flask==3.0.3
Flask-Cors==5.0.0
flatbuffers==24.3.25
functions-framework==3.8.1
gast==0.6.0
google-api-core==2.21.0
google-api-python-client==2.149.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.19.0
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-events==0.13.0
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
grpcio==1.67.1
grpcio-status==1.62.3
h5py==3.12.1
httplib2==0.22.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
keras==3.4.1
libclang==18.1.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
ml-dtypes==0.4.1
msgpack==1.1.0
namex==0.0.8
numpy==1.26.4
opencv-python==4.10.0.84
opt_einsum==3.4.0
optree==0.13.0
packaging==24.1
pillow==11.0.0
plum-dispatch==1.7.4
proto-plus==1.24.0
protobuf==4.25.5
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
Pygments==2.18.0
PyJWT==2.9.0
pyparsing==3.2.0
python-dotenv==1.2.1
pyvista==0.46.4
PyYAML==6.0.2
requests==2.32.3
rich==13.9.3
rsa==4.9
scipy==1.13.1
scikit-learn==1.7.2
six==1.16.0
Spire.Pdf==10.8.1
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.1
tensorflow-intel
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.5.0
torch==2.9.0
torchvision==0.24.0
tqdm==4.67.1
trimesh==4.9.0
typing_extensions==4.12.2
uritemplate==4.1.1
urllib3==2.2.3
watchdog==5.0.3
Werkzeug==3.0.4
wrapt==1.16.0
